/* Reset default styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }
  
  .row{
    flex : 0 1 auto;
  }
  .column{
    flex : 0 1 auto
  }

  .block {
    display: grid;
    margin : 10px auto;
    padding: 10px;
  }
  
  /* Set global styles */
  body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    background: white;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
  }
  
  /* Style header */
  header {
    background-color: black; /* Updated to black */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #nav_right {
    display: flex;
    justify-content: flex-start;
  }
  
  #nav_left {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    color : white;
    margin: 0 10px;
  }
  
  /* Style main content */
  main {
    max-width: 1000px;
    margin : 0 auto;
    padding: 40px 20px;
    min-height: 63.5vh;
  }

  section{
    display: flexbox;
    justify-content: space-evenly;
    padding-left: 25px;
  }

  button {  
    background-color: #ffffff;
    color: #000000;
    display: inline-flex;
    justify-content: flex-start;
    border : 2px solid black;
    border-radius: 25%;
    padding: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
    font-size: 15px;
    height : auto;
    width : 200px;
  }
  
  button:hover{
    animation-name: button_animation;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    scale:1.25;
  }
  @keyframes button_animation {
    from{
        scale : 1;
    }
    to{
        scale:1.25;
    }
  }
  
  /* Style footer */
  footer {
    vertical-align: bottom;
    background-color: black; /* Updated to black */
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
  }
  
  footer p {
    text-align: center;
    color : white
  }
  
  p {
    margin: 10px auto;
    padding: 5px 50px;
    text-align: justify;
  }
  
  .icon{
    height: 50px;
    width: 50px;
    padding: 2px;
  }